/* * {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
} */

.title-container {
  display: flex;
  justify-content: center;
  /* margin: 20px; */
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px 20px 20px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.actions-container {
  display: flex;
}

.actions-container button {
  margin: 0 5px;
}